.ico {
height:40px;
width:40px;
}



.wrap {
  width: 40%;
  margin: 100px auto;
  text-align: center;
}

.social {
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #abc;
}

.i {
  position: relative;
  top: 30px;
  margin: 0 10px;
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
.i:hover {
  top: 5px;
}